/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: 'Crimson Text', serif;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:large;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.backgroundImage {
    background-image: url("/images/homeimage2.jpeg");
    background-size: cover;
    height: 260px;
    color: red;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundColor{
    background-color: cadetblue;
}

.fontSize {
    font-size: 55px;
}

.backgroundColor1{
    background-color: lightgrey;
}


.spaceIt {
    padding-right: 25px;
   
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


